<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit()" #shoppingListForm="ngForm">
			<div class="row">
			    <div class="col-sm-5 form-group">
			    	<label for="name">Name</label>
			    	<input type="text" id="name" class="form-control"
			    		name="name" ngModel required/>
<!-- 			    		<span *ngIf="!shoppingListForm.controls.name.valid && 
			    shoppingListForm.controls.name.touched">Please provide item name!</span>
			     -->			    </div>
			    <div class="col-sm-2 from-group">
			    	<label for="amount">Amount</label>
			    	<input type="number" id="amount" class="form-control" 
			    		name="amount" ngModel required [pattern]="'^[1-9]+[0-9]*$'"/>
	<!-- 		    		<span *ngIf="!shoppingListForm.controls.amount.valid && 
			    shoppingListForm.controls.amount.touched">Please provide amount of items!</span>
			    	 -->		    </div>		
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" [disabled]="!shoppingListForm.valid"> {{editMode? 'Update': 'Add'}}</button>
					<button class="btn btn-danger" type="button" (click)="doDelete()" [disabled]="!editMode">Delete</button>
					<button class="btn btn-primary" type="button" (click)="doClear()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>